<!DOCTYPE html>
<html ng-app="myapplev">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Biogam</title>

    <link href="../../lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../../css/levelStylesheet.css" rel="stylesheet">


</head>
<body ng-controller="boxController">
    <ion-header-bar class="bar bar-header bar-royal">
        <button class="button icon ion-chevron-left"></button>
        <h1 class="title">Exercises</h1> <!--este título tiene que ser dinámico-->
        <button class="button icon ion-navicon"></button>
    </ion-header-bar>
    <ion-content >
        <div class="row" id="circles">
            <div class="col" id="levelCol">
                <img src="../../images/filled13.png"></>
            </div>
            <div class="col">
                <img src="../../images/filledRed.png"></>
            </div>
            <div class="col">
                <img src="../../images/filled13.png"></>
            </div>
            <div class="col">
                <img src="../../images/plain16.png"></>
            </div>
            <div class="col">
                <img src="../../images/plain16.png"></>
            </div>
            <div class="col">
                <img src="../../images/plain16.png"></>
            </div>
            <div class="col">
                <img src="../../images/plain16.png"></>
            </div>
            <div class="col">
                <img src="../../images/plain16.png"></>
            </div>
            <div class="col">
                <img src="../../images/plain16.png"></>
            </div>
            <div class="col">
                <img src="../../images/plain16.png"></>
            </div>
        </div>
        <h3 id="questionNum">
            Pregunta 4
        </h3>
        <p id="exerciseHeading">
            One trait is controlled by only one locus. In a cross between a homygote plant and another
            hetero- zygote plant, 142 heterozygotes and 121 homo- zygote plants were obtained.Is the segregation
            observed in agreement with the expected segregation?
        </p>
        <div >
            <div class="row" id="buttonRow">
                <div  class="col col-50 button button-small button-outline button-royal" id="ebuttonOption" ng-click="showBoxAaxaa()">
                    Aa x aa
                </div>
                <div class="col col-50 button button-small button-outline button-royal" id="ebuttonOption" ng-click="showBoxAaxAa()">
                    Aa x Aa
                </div>
            </div>
            <div class="row" id="buttonRow">
                <div class="col col-50 button button-small button-outline button-royal" id="ebuttonOption" ng-click="showBoxA1A2xA1A2()">
                    A1A2 x A1A2
                </div>
                <div class="col col-50 button button-small button-outline button-royal" id="ebuttonOption" ng-click="showBoxA1A2xA1A3()">
                    A1A2 x A1A3
                </div>
            </div>
            <div class="row" id="buttonRow">
                <div class="col col-50 button button-small button-outline button-royal" id="ebuttonOption" ng-click="showBoxA1A2xA3A4()">
                    A1A2 x A3A4
                </div>
                <div class="col col-50 button button-small button-outline button-royal" id="ebuttonOption" ng-click="showBoxLethalGenes()">
                    Lethal genes
                </div>
            </div>

            <div class="item item-body" id="box" ng-show="boxShowAaxaa">
                <div class="row" id="rowTextbox">
                    <div>
                        <p id="types">A</p>
                        <input class="item item-input" type="text" id="numberA">
                    </div>

                    <div>
                        <p id="types">a</p>
                        <input class="item item-input" type="text" id="numberB">
                    </div>
                    

                </div>
            </div>
            <div class="item item-body" id="box" ng-show="boxShowAaxAa">
                <div class="row" id="rowTextbox">
                    <div>
                        <p id="types">A</p>
                        <input class="item item-input" type="text" id="numberA">
                    </div>

                    <div>
                        <p id="types">a</p>
                        <input class="item item-input" type="text" id="numberB">
                    </div>


                </div>
            </div>
            <div class="item item-body" id="box" ng-show="boxShowLethalGenes">
                <div class="row" id="rowTextbox">
                    <div>
                        <p id="types">A</p>
                        <input class="item item-input" type="text" id="numberA">
                    </div>

                    <div>
                        <p id="types">a</p>
                        <input class="item item-input" type="text" id="numberB">
                    </div>


                </div>
            </div>
            <div class="item item-body" id="box" ng-show="boxShowA1A2xA1A2">
                <div class="row" id="rowTextbox">
                    <div>
                        <p id="types">A1A1</p>
                        <input class="item item-input" type="text" id="numberA">
                    </div>

                    <div>
                        <p id="types">A1A2</p>
                        <input class="item item-input" type="text" id="numberB">
                    </div>
                    <div>
                        <p id="types">A2A2</p>
                        <input class="item item-input" type="text" id="numberA">
                    </div>
             
                </div>
            </div>
            <div class="item item-body" id="box" ng-show="boxShowA1A2xA1A3">
                <div class="row" id="rowTextbox">
                    <div>
                        <p id="types">A1 A1</p>
                        <input class="item item-input" type="text" id="numberA">
                    </div>

                    <div>
                        <p id="types">A1 A3</p>
                        <input class="item item-input" type="text" id="numberB">
                    </div>
                    <div>
                        <p id="types">A1 A2</p>
                        <input class="item item-input" type="text" id="numberA">
                    </div>
                    <div>
                        <p id="types">A2 A3</p>
                        <input class="item item-input" type="text" id="numberA">
                    </div>

                </div>
            </div>
            <div class="item item-body" id="box" ng-show="boxShowA1A2xA3A4">
                <div class="row" id="rowTextbox">
                    <div>
                        <p id="types">A</p>
                        <input class="item item-input" type="text" id="numberA">
                    </div>

                    <div>
                        <p id="types">a</p>
                        <input class="item item-input" type="text" id="numberB">
                    </div>


                </div>
            </div>
        </div>


    </ion-content>


    <!-- Other Library/Framework references -->
    <script src="../../scripts/jquery-2.1.4.min.js"></script>
    <script src="../../lib/ionic/js/ionic.bundle.js"></script>

    <!-- Cordova references -->
    <script src="cordova.js"></script>
    <script src="../../scripts/platformOverrides.js"></script>

    <!-- App references -->
    <script src="../../scripts/index.js"></script>
    <script src="../services.js"></script>
    <script src="../controllers.js"></script>
    <script src="../app.js"></script>
</body>
</html>