<!DOCTYPE html>
<html ng-app="myappl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Biogam</title>

    <link href="../../lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../../css/testStylesheet.css" rel="stylesheet">


</head>
<body ng-controller="exerciseController">
    <ion-header-bar class="bar bar-header bar-royal">
        <button class="button icon ion-chevron-left"></button>
        <h1 class="title">Exercises</h1> <!--este título tiene que ser dinámico-->
        <button class="button icon ion-navicon"></button>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col" id="levelCol">
                <img src="../../images/filled13.png"></>
            </div>
            <div class="col">
                <img src="../../images/filledRed.png"></>
            </div>
            <div class="col">
                <img src="../../images/filled13.png"></>
            </div>
            <div class="col">
                <img src="../../images/plain16.png"></>
            </div>
            <div class="col">
                <img src="../../images/plain16.png"></>
            </div>
            <div class="col">
                <img src="../../images/plain16.png"></>
            </div>
            <div class="col">
                <img src="../../images/plain16.png"></>
            </div>
            <div class="col">
                <img src="../../images/plain16.png"></>
            </div>
            <div class="col">
                <img src="../../images/plain16.png"></>
            </div>
            <div class="col">
                <img src="../../images/plain16.png"></>
            </div>
        </div>
        <h3 id="questionNum">
            Pregunta 4
        </h3>
        <p id="exerciseHeading">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
        </p>
       
       <!-- <section title=".roundedOne">-->
        <div class="roundedOne">
            <input type="checkbox" id="ownCheck" />
            <label for="ownCheck"><span></span>I'm option 1</label>
        </div> 
        <div class="roundedOne1">
            <input type="checkbox" id="ownCheck2" />
            <label for="ownCheck2"><span></span>I'm option 2</label>
        </div>
        <div class="roundedOne2">
                <input type="checkbox" id="ownCheck3" />
                <label for="ownCheck3"><span></span>I'm option 3</label>
        </div>
                <!-- end .roundedOne -->
                <!-- </section>-->

</ion-content>


    <!-- Other Library/Framework references -->
    <script src="../../scripts/jquery-2.1.4.min.js"></script>
    <script src="../../lib/ionic/js/ionic.bundle.js"></script>

    <!-- Cordova references -->
    <script src="cordova.js"></script>
    <script src="../../scripts/platformOverrides.js"></script>

    <!-- App references -->
    <script src="../../scripts/index.js"></script>
    <script src="../services.js"></script>
    <script src="../controllers.js"></script>
    <script src="../app.js"></script>
</body>
</html>